@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Special+Elite&display=swap');

@font-face {
  font-family: 'Dummies';
  src: url('./fonts/Dummies-w3qZ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
